<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/index"/>
    <link rel="stylesheet" type="text/css" href="/css/chapter_index"/>
    <script type="text/javascript" src="/lib/jquery-3.2.1.min.js"></script>
</head>

<body>
<div id="navlink">
    <a href="/">/</a>
    <a href="/manga">Manga</a>
    <p>/</p>
    <a href="/chapter/index?manga_id={{ manga['id'] }}">{{ manga['name'] }}</a>
</div>

<div id="button-nav">
    <table>
        <tr>
            <td>
                <div id="btn-nav-files" class="btn">
                    <a href="/chapter/rss?manga_id={{ manga['id'] }}">
                        <input type="button" class="passive" value="RSS">
                    </a>
                </div>
            </td>
        </tr>
    </table>
</div>
<br>

<div id="table-container">
<table>
    <tr class="table-header">
        <td>Id</td>
        <td>Name</td>
        <td>Sort Key</td>
    </tr>
{% for chapter in chapters %}
    <tr>
        <td>
            <idcontainer key="{{ chapter['id'] }}">{{ chapter['id'] }}</idcontainer>
        </td>
        <td>
            <a id="chapter-link-{{ chapter['id'] }}" href="/page/display?chapter_id={{ chapter['id'] }}">
                {{ chapter['name'] }}
            </a>
        </td>
        <td>
            <span id="chapter-sortkey-{{ chapter['id'] }}">{{ (chapter['sort_key']|string).rstrip('0').rstrip('.') }}</span>
        </td>
        <td>
            <div id="btn-delete-{{ chapter['id'] }}" class="btn btn-delete">
                <input type="button" class="passive" value="Delete">
                <input type="button" class="active" value="Confirm?">
            </div>
        </td>
        <td>
            <div id="btn-rename-{{ chapter['id'] }}" class="btn btn-rename">
                <input type="button" class="passive" value="Rename">
                <input type="text" class="active">
            </div>
        </td>
        <td>
            <div id="btn-resort-{{ chapter['id'] }}" class="btn btn-resort">
                <input type="button" class="passive" value="Resort">
                <input type="number" class="active">
            </div>
        </td>
    </tr>
{% endfor %}
</table>
</div>
<script type="text/javascript">
    var chapter_ids = [
        {% for chapter in chapters %}
        {{ chapter['id'] }},
        {% endfor %}
    ];
</script>
<script type="text/javascript" src="/js/chapter_index"></script>
<div id="homu"></div>
</body>
</html>