<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/file_error"/>
    <link rel="stylesheet" type="text/css" href="/css/index"/>
</head>

<body>
<div id="navlink">
    <a href="/">/</a>
    <a href="/file">File</a>
</div>

<div id="table-container">
<table id="file-table">
    <tr>
        <td>id</td>
        <td>state</td>
        <td>location</td>
        <td>url</td>
    </tr>
{% for f in files %}
    <tr>
        <td><p>{{ f['id'] }}</td>
        <td><p>{{ f['state'] }}</td>
        <td><p>{{ f['location'] }}</td>
        <td><p>{{ f['url'] }}</td>
    </tr>
{% endfor %}
</table>
</div>
<div id="homu"></div>
</body>
</html>