<html>
<head></head>
<body>
    <input type="text" placeholder="username" id="uname">
    <input type="password" placeholder="password" id="password">
    <input type="button" value="login" id="login">
    <input type="button" value="create" id="create">
    <script type="text/javascript" src="/js/login"></script>
</body>
</html>