<html>
<head></head>
<body>
    <input type="text" placeholder="username" id="uname">
    <input type="text" placeholder="token" id="token">
    <input type="button" value="login" id="login">
    <script type="text/javascript" src="/js/login"></script>
</body>
</html>