<html>
<head>

</head>

<body>
<a href="/manga/create">create</a>
<table>
    <tr>
        <td>id</td>
        <td>name</td>
    </tr>
{% for m in manga %}
    <tr>
        <td>{{ m['id'] }}</td>
        <td>
            <a href="/chapter/index?manga_id={{ m['id'] }}">{{ m['name'] }}</a>
        </td>
    </tr>
{% endfor %}
</table>
</body>
</html>