<html>
<head>
</head>

<body>
<input id="name" placeholder="name" type="text">
<input id="author" placeholder="author" type="text">
<input id="link" placeholder="link" type="text">
<input id="submit" type="submit">
<script src="/js/manga_new"></script>
</body>
</html>