<!--suppress ALL -->
<html>
<head>
    <script src="/lib/jquery-3.2.1.min.js"></script>
    <script src="/lib/jquery-ui.min.js"></script>
    <script src="/lib/jquery.uix.multiselect.min.js"></script>
    <link rel="stylesheet" href="/lib/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/lib/jquery.uix.multiselect.css"/>
    <link rel="stylesheet" href="/css/page_rechapter"/>
</head>

<body>
    <input id="name" type="text" placeholder="new chapter name">
    <input id="sort_key" type="hidden" value="{{ chapter['sort_key'] + 1 }}">
    <input id="manga_id" type="hidden" value="{{ chapter['manga_id'] }}">
    <select id="mselect" multiple="multiple">
        {% for page in pages %}
        <option value="{{ page['id'] }}">
            {{ page['id'] }}
        </option>
        {% endfor %}
    </select>
    <input id="submit" type="submit">
    <script type="text/javascript" src="/js/page_rechapter"></script>
</body>
</html>