su - postgres <<ENDSQL
psql postgres -c "CREATE USER homulili"
psql postgres -c "ALTER USER homulili WITH PASSWORD '{{ postgres_password }}'"
psql postgres -c "CREATE DATABASE homulili WITH ENCODING 'UTF8' OWNER homulili"
ENDSQL
